

main {
    background: #eaeaea;

    font-size: 20px;
    
}

.main h1 {
    border-bottom: 1px solid black;
    box-shadow: 0 20px 30px -20px black;
}


.contatos-button, .home-button, .achados-button {
    
    
    margin-top: 30px;
    margin-left: 30px;

}

.achados-button a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 700;

    background-image: url('../img/pexels-gabby-k-7412095\ -\ Copia.jpg');
    background-size: cover;
    background-clip: text;
    background-position: bottom;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    cursor: pointer;
    text-decoration: none;
    padding: 10px; padding-right: 55px; padding-left: 55px;
    margin-right: 20px;
    
    border-radius: 5px;
    border: 3px solid #4a3d23;
    

    transition: .5s;
}

.home-button a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 700;

    background-image: url('../img/pexels-suzyhazelwood-1629236\ -\ Copia.jpg');
    background-size: cover;
    background-clip: text;
    background-position: bottom;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    cursor: pointer;
    text-decoration: none;
    padding: 10px; padding-right: 80px; padding-left: 80px;
    margin-right: 20px;
    
    border-radius: 5px;
    border: 3px solid #0e004e;
    

    transition: .5s;
}

.contatos-button a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 700;

    background-image: url('../img/pexels-lukas-rodriguez-1845331-3573351\ -\ Copia.jpg');
    background-size: cover;
    background-clip: text;
    background-position: bottom;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    cursor: pointer;
    text-decoration: none;
    padding: 10px; padding-right: 50px; padding-left: 50px;
    margin-right: 20px;
    
    border-radius: 5px;
    border: 3px solid #065900;
    

    transition: .5s;
}

.home-button a:hover, .contatos-button a:hover, .achados-button a:hover {
    background-clip: unset;
    color: #ffffff;
}

footer {
    background-color: black;
}