main form input[type="text"]{
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px;
    width: 300px;
}

main form input[type="text"]::placeholder {
    color: #000;
    padding-left: 10px;
}

main {
    background: #3e3e3e;

    font-size: 20px;
    
}

main h1 {
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.informacoes input[type="text"] {
    width: 300px;
}

.caracteristica input[type="text"] {
    height: 190px;
}


.send-button {

    margin-top: 30px;
    margin-left: 30px;

}

.send-button a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px; padding-right: 280px; padding-left: 280px;
    margin-right: 20px;
    background-color: #ffffff;
    color: #000; 
    border-radius: 5px;
    border: 3px solid #000000;

    

    transition: .3s;
}

.send-button a:hover {
    background-color: #000000;
    border: 7px solid #ffffff;
    color: #ffffff;
    letter-spacing: 2px;
}

footer {
    background-color: black;
}

